{{template "base" .}}

{{define "title"}}
	Error {{.Status}}: {{.StatusText}}
{{end}}

{{define "body"}}
	<h1>Error {{.Status}}: {{.StatusText}}</h1>
	<p>{{.Description}}</p>
	{{if .Cause}}
		<code>{{.Cause}}</code>
	{{end}}
{{end}}
