{{template "base" .}}

{{define "title"}}
	File Sharing
{{end}}


{{define "body"}}
	<h1>fmajor</h1>

	<h2>Upload</h2>

	<form enctype="multipart/form-data" action="/submit" method="post">
		<input type="file" name="file" />
		<input type="submit" value="Upload" />
	</form>

	<h2>Download a File</h2>

	<ul>
	{{range .Uploads}}
		<li>
			<a href="/files/{{.Id}}">{{.Name}}</a> ({{.HumanSize}})
		</li>
	{{end}}
	</ul>
{{end}}
