{{define "base"}}
<!doctype html>
<html>
	<head>
		<title>{{template "title" .}}</title>
		<link rel="icon" href="/static/paperclip.svg" type="image/svg+xml">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=0.7">
		<link rel=stylesheet href="/static/fmajor.css">
		<script src="/static/progress.js"></script>
	</head>

	<body>
		<header>
			{{if .IsAuthorized}}
				<form class="logout_form" action="/logout" method="post">
					<input type="image" title="Log Out" src="/static/log-out.svg">
				</form>
			{{end}}
		</header>

		<main>
			{{template "main" .}}
		</main>

		<footer>
			Powered by <a href="https://github.com/kissen/fmajor">fmajor</a>.
			Check out the <a href="https://github.com/kissen/fmajor/blob/master/README.md">docs</a>
			for a guide on how to set up passwords.
		</footer>
	</body>
</html>
{{end}}
