{{template "base" .}}

{{define "title"}}
	Error {{.Status}}: {{.StatusText}}
{{end}}

{{define "main"}}
	<div class="error">
		<h2>Error {{.Status}}: {{.StatusText}}</h2>

		<p>{{.Description}}</p>

		{{if .Cause}}
			<p><code>{{.Cause}}</code></p>
		{{end}}
	</div>
{{end}}
