{{template "base" .}}

{{define "title"}}
	Error {{.Status}}: {{.StatusText}}
{{end}}

{{define "main"}}
	<h2>Error {{.Status}}: {{.StatusText}}</h2>

	<p>{{.Description}}</p>

	{{if .Cause}}
		<code>{{.Cause}}</code>
	{{end}}
{{end}}
