{{template "base" .}}

{{define "title"}}
	File Sharing
{{end}}


{{define "main"}}
	<div class="box">
		<form enctype="multipart/form-data" action="/submit" method="post">
			<input type="file" name="file" />
			<input type="submit" value="Upload" />
		</form>
	</div>

	{{range .Uploads}}
		<div class="box">
		    <form action="/delete" method="post">
			    <input type="hidden" name="id" value="{{.Id}}" />
			    <input class="delete_button" type="image" title="Delete" src="/static/trash-2.svg">
		    </form>
		    <!-- The /files handler drops the extension from the
		    path. So we can add it here which results in
		    more reasonable filenames when users download the
		    filles -->
		    <a href="/files/{{.Id}}{{.Ext}}">{{.Name}}</a>
		    <div class="meta">
			    {{.HumanUploadedOn}} {{.HumanSize}}
		    </div>
		</div>
	{{end}}
{{end}}
