{{template "base" .}}

{{define "title"}}
	File Hosting Service: Log In
{{end}}


{{define "main"}}
	<div class="box">
		<form class="login_form" action="/login" method="post">
			<input type="password" name="password" placeholder="Password" />
			<input type="submit" value="Log In" />
		</form>
	</div>
{{end}}
